.chatheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-bottom: 1px solid #333539;
    box-shadow: 0px 2px 5px #333539;


}

.chatheader__left>h3 {
    display: flex;
    align-items: center;

}

.chatheader__right {
    display: flex;
    align-items: center;

    justify-content: space-between;

}

.chatheader__right>.MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}

.chatheader__right>.MuiSvgIcon-root:hover {
    color: white;
}

.chatheader__search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}

.chatHeader__hash {
    font-size: large;
    padding-right: 10px;
}

.chatheader__search>input {
    background-color: transparent;
    outline-width: 0;
    color: white;
    border: none;
}